@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.auction-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.small-auction-component {
  background-color: rgba(14, 65, 65, 0.123);
  margin: 1em;
  
}

.search-input {
  padding-left: 0.4em;
}
