@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container-fluid {
  background-color: #c8d5b9;
}

.auction-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.small-auction-component {
  background-color: rgba(14, 65, 65, 0.123);
  margin: 1em;
}

.search-input {
  padding-left: 0.4em;
  margin: 2em;
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #4a7c59;
  height: 6em;
  color: #071e22;
}
.header-route {
  display: flex;
  justify-content: center;
  gap: 1em;
}

.card {
  display: flex;
  flex-direction: row;
  width: 36em;
  height: 20em;
  padding: 1em;

  align-items: center;
}

.card-img-top {
  width: 20em;
  height: 10em;
}

.card-body {
  padding-right: 0%;
}

.link {
  font-size: larger;
  color: #000;
}